/* .body{S} */
.header{
    width: 100%;
    background-size: cover;
    background: rgba(229, 84, 115, 0.10);
    ;
    margin-bottom:240px;
}
/* .header-section{} */
.header-1div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-h1{
    color: #272727;
    font font-size:80px;
    font-weight:800;
    margin-bottom: 32px;

}
.header-paragraph{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    width: 35%;
    margin-bottom: 32px;

} 
.header-btn{
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #e55472;
    color: #ffff;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}
/* main content box */
.main-title{
color:#272727;
text-align: center;
font-family:;
font-size: 40px;
font-weight: 800;
}
.main-description{
    color: ;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}
.main-container{
    margin-bottom: 240px;

}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}
.main-content-box{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color:rgba(167, 33, 98, 0.15);
    1x
     ;
    }
.main-content-box1{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15) ;
}
.main-content-box2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color:rgba(71, 125, 17, 0.15);
    }
.main-box-img{
    padding: 110px 70px 0px 76px;
}
.main-box-img1{
    padding: 117px 47px 51px 47px;
}
.main-box-img2{
    padding: 67px 75px 0px 75px;
}
.box-title{
    color: #272727;
    text-align: center;
    font-family: ;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}